<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insults</title>
        <!-- <link rel="stylesheet" href=""> -->
    </head>
    <body>
        <main id="app-root"></main>
        <script src="http://localhost:3001/dist/app.bundle.js"></script>
        <script src="http://localhost:3001/dist/styles.bundle.js"></script>
    </body>
</html>